*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #f1f7fc;
  background: #1f1e25;
  font-family: "Lato", "Monteserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
