@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

main {
  margin-left: 5vw;
  margin-right: 5vw;
}

h1 {
  color: #f5f1ff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.8rem;
  text-transform: uppercase;
}

h2 {
  margin-top: 10px;
  color: #b0adb6;
  font-size: 1rem;
  line-height: 1.3rem;
}

svg {
  width: 24px;
  height: 24px;
}

a {
  color: #927aff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #927aff;
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  background-color: #7a60f0;
  transform-origin: left;
  transform: scaleX(1);
}

.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  scroll-snap-align: start;
  padding-top: 150px;
  padding-bottom: 150px;
}

.section-header {
  color: #927aff;
  font-family: monospace;
  font-size: 1rem;
}

.section-body {
  padding-left: 20px;
  margin-left: 2px;
}

.section-body::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  border-radius: 1px;
  background-color: #927aff;
  bottom: 0;
  left: 0;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
}

.section-body.in-view::before {
  background-color: #7a60f0;
  transform-origin: top;
  transform: scaleY(1);
}

.horizontal-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (hover: hover) {
  a:hover {
    color: #7a60f0;
  }
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .section-header {
    font-size: 1.5rem;
  }

  main {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .horizontal-flex {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  main {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
